/* akshar */
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,footer{
    margin: 0;
    font-family: 'Akshar';
    background: white;
}
.container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap:10px;
    flex-direction: column;
    justify-content: center;
}
header{
    margin-top: 25px;
}
.container{
    border-radius: 10px;
    margin-bottom: 30px;
}
.wrap{
    margin-top: 4px;
    background: black;
    border-radius: 7px;
    padding: 6px;
}
.display-container{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    width: 310px;
    height: 100px;
    border-radius: 5px;
    background: rgba(145, 191, 183, 0.767);
    color: black;
    font-size: 1.8em;
}
.display, .history{
    margin-right: 5px;
}
.container{
    margin-inline:auto;
    background: rgba(0, 0, 0, 0.878);
    width: 350px;
    height: 558px;
}
.button-container{
    padding: 20px;
    display:grid;
    gap: 5px;
    grid-template-columns: repeat(4,1fr)
}
button{
    background: rgba(10, 10, 10, 0.894);
    color:white;
    font-size: 1.5em;
    font-weight: 700;
    border: transparent;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px black;
    padding: 20px;
}
.clear{
    background: rgba(234, 86, 33, 0.957);
}
.operate-button{
    grid-column: span 2;
}
footer{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: 400;
    width: 100%;
    color: black;
}
a{
    margin-left: 8px;
}
.github {
    width:25px;
    transition: transform 0.3s ease-in-out;
}
.github:hover {
    transform: rotate(360deg) scale(1.2);
}
